
<html>
  <head>
    <title>TicsiPeru</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="shortcut icon" href="../imagesTicsi/logo.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Bevan|Josefin+Slab|Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="../iconos/foundation-icons.css"/>
    <link rel="stylesheet" href="../libTicsi/foundation.css" type="text/css"/>
    <link rel="stylesheet" href="../cssTicsi/style.css" type="text/css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-image"><img src="../imagesTicsi/logo.png" width="150"/></div>
      <div><a id="menu-movil"><i class="fi-list"></i></a></div>
      <div id="header-nav" class="header-nav">
        <nav data-magellan="data-magellan">
          <ul id="header-menu" class="header-menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="#servicio-container">SERVICIOS</a></li>
            <li><a href="../views/people.html">NOSOTROS</a></li>
            <li><a href="../views/contact.html">CONTACTANOS</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main">
      <h2>Esta es la seccion de servicios</h2>
    </main>
    <footer class="footer">
      <p>© Copyright 2016 - Ticsi Perù</p>
      <p>info@ticsiperu.net - #966175116</p>
    </footer>
    <script src="../jsTicsi/bundle.js"></script>
    <script src="../jsTicsi/jquery.js"></script>
    <script src="../jsTicsi/foundation.js"></script>
    <script src="../jsTicsi/app.js"></script>
  </body>
</html>